body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  /* Note: Do not add a space between the property value (20) and the unit (px):
Incorrect (space): margin-left: 20 px;
Correct (no space): margin-left: 20px; */